.App {
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.flex1{
  width: 600px;
  height: 300px;
}

.flex2{
  min-width: 500px;
  max-width: 100%;
  max-height: 700px;
}

@media (max-width:650px) {
  .flex1{
    width: 100%;
  }
}